<h1 class="text-center mb-4">商品新規登録</h1>

<%= form_with(model: @item, url: admin_items_path, local: true, html: { class: "form-center" }) do |form| %>
  <div class="container">
    <table>
      <tr>
        <td class="form-group"><%= form.label :image, "商品画像" %></td>
        <td class="form-group"><%= form.file_field :image, class: "form-control" %></td>
      </tr>
      
      <tr>
        <td class="form-group"><%= form.label :name, "商品名" %></td>
        <td class="form-group"><%= form.text_field :name, placeholder: "商品名", class: "form-control" %></td>
      </tr>

      <tr>
        <td class="form-group"><%= form.label :introduction, "商品説明" %></td>
        <td class="form-group"><%= form.text_area :introduction, placeholder: "ここに説明文を記述します", rows: 4, class: "form-control" %></td>
      </tr>

      <tr>
        <td class="form-group"><%= form.label :genre_id, "ジャンル" %></td>
        <td class="form-group"><%= form.collection_select :genre_id, Genre.all, :id, :name, prompt: "選択してください", class: "form-control" %></td>
      </tr>

      <tr>
        <td class="form-group"><%= form.label :price, "税抜き価格" %></td>
        <td class="form-group"><%= form.number_field :price, class: "form-control", min: 0, placeholder: "税抜き価格" %></td>
      </tr>

      <tr>
        <td class="form-group"><%= form.label :is_active, "販売ステータス" %></td>
        <td class="form-group">
          <div class="form-check">
            <%= form.radio_button :is_active, true, checked: true, class: "form-check-input" %>
            <%= form.label :is_active_true, "販売中", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :is_active, false, class: "form-check-input" %>
            <%= form.label :is_active_false, "販売停止中", class: "form-check-label" %>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="form-group text-center">
          <%= form.submit "新規登録", class: "btn btn-primary mt-3" %>
        </td>
      </tr>
    </table>
  </div>

<% end %>

<%= link_to '戻る', admin_items_path, class: 'btn btn-secondary mt-3' %>

<!-- CSS: 数字入力フィールドの矢印を非表示にする -->
<style>
  /* 数字入力フィールドの矢印を非表示にする */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox用 */
  }
</style>
