<h1>注文詳細</h1>

<h3>注文情報</h3>
<p>注文番号: <%= @order.id %></p>
<p>注文日: <%= @order.created_at.strftime("%Y年%m月%d日") %></p>
<p>注文状況: <%= @order.is_order %>
<p>支払い方法: <%= @order.payment_method_i18n %></p>

<h3>お届け先情報</h3>
<p>宛名: <%= @order.name %></p>
<p>住所: <%= @order.post_code %> <%= @order.address %></p>

<h3>注文商品</h3>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
<tbody>
  <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= number_to_currency(order_detail.price, unit: "¥") %></td>
      <td><%= order_detail.quantity %></td>
      <td><%= number_to_currency(order_detail.price * order_detail.quantity, unit: "¥") %></td>
    </tr>
  <% end %>
</tbody>
</table>

<h3>合計金額</h3>
<p>商品合計: <%= number_to_currency(@order.total_amount, unit: "¥") %></p>
<p>送料: <%= number_to_currency(@order.postage, unit: "¥") %></p>
<p>合計金額: <%= number_to_currency(@order.total_amount + @order.postage, unit: "¥") %></p>
